@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
  background: url('/assets/images/heroes.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.roadmap-list li {
  color: #3aa2ff;
  margin-bottom: 30px;
}
